body {
  font-family: "Cairo", sans-serif;
  margin: 0px;
  font-size: small;
  line-height: var(--line-height);
  width: 100vw;
}

body * {
  box-sizing: border-box;
  background-color: rebeccapurple;
  margin: 0px;
}

/* Header */
header {
  position: fixed;
  display: block;
  z-index: 5;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  text-wrap: nowrap;
}

img.logo {
  box-sizing: content-box;
  position: relative;
  top: 0px;
  left: 0px;
  width: 130px;
  padding-right: 90vw;
  background-color: #fff;
}

.nav {
  background-color: rgb(145, 141, 141);
  display: flex;
  position: fixed;
  flex-flow: column;
  padding-left: 0px;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  text-wrap: nowrap;
  width: 25vw;
  padding-block: 10px;
  gap: 20px;
  z-index: -1;
  top: 0px;
  right: 400px;
  transition: 2s;
}

.nav *:not(option) {
  box-sizing: border-box;
  background-color: unset;
  position: relative;
  width: 100%;
  top: 0px;
  left: 0px;
  padding-block: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Cairo", sans-serif;
  font-weight: 200;
  text-decoration: none;
  color: #222;
}


.nav *:hover {
  color: var(--color3);
  transition: 0.5s;
}

select.services {
  width: 100px;
}

option {
  font-size: small;
  font-weight: 800;
  text-align: left;
  background-color: white;
  border-bottom: 2px solid #222;
  padding: 10px;
  min-height: 40px;
}

option:hover {
  text-align: left;
  background-color: #EEE;
  color: red;
  border-bottom: 2px solid #222;
  padding: 10px;
  min-height: 50px;
}
