:root {
  --color1: #03A4ED;
  --color2: #41F255;
  --color3: #329615;
  --font-large: 50px;
  --line-height-large: 1.5em;
  --line-height-small: 1.5em;
}

body {
  font-family: "Cairo", sans-serif;
  margin: 0px;
  font-size: small;
  line-height: var(--line-height);
  width: 100vw;
}

body * {
  box-sizing: border-box;
  margin: 0px;
}

.large {
  font-size: var(--font-large);
  font-weight: bolder;
  line-height: var(--line-height-large);
}

.small {
  font-size: small;
  line-height: var(--line-height-small);
}

.green {
  color: var(--color2);
}

.blue {
  color: var(--color1);
}

.bold {
  font-weight: bold;
}

.bolder {
  font-weight: bolder;
}

/* Header */
.nav-button{
  display: none;
}
header {
  position: fixed;
  display: flex;
  z-index: 20;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  align-content: start;
  width: 100vw;
  text-wrap: nowrap;
}

img.logo {
  position: relative;
  width: 10vw;
  padding: 0px;
}

.nav {
  list-style: none;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  padding-inline: 10px;
  gap: 20px;
  transition: 1s;
}

.nav * {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-family: "Cairo", sans-serif;
  font-weight: 200;
  text-decoration: none;
  color: #222;
}

.nav a:hover {
  color: var(--color3);
  transition: 0.5s;
}

.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #17C32A;
  font-weight: 600;
  padding: 10px 20px;
  margin-right: 3vw;
  color: white ;
  border-radius: 30px;
}

.registration:hover {
  color: white;
  background-color: var(--color1);
  transition: 0.7s;
}

select.services {
  width: 120px;
  border: none;
  background-color: unset;
  cursor: pointer;
}

option {
  font-size: small;
  font-weight: 200;
  text-align: left;
  background-color: white;
  border-bottom: 2px solid #222;
  padding: 10px;
  min-height: 40px;
}

option:hover {
  text-align: left;
  background-color: #EEE;
  color: red;
  border-bottom: 2px solid #222;
  padding: 10px;
  min-height: 50px;
}

/* panner */
.corner-right {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 80px;
  height: 250px;
}
.corner-left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
}
/* Welcome */
div.welcome {
  position: relative;
  top: 120px;
  line-height: 2.5em;
  width: 100vw;
  font-size: small;
  line-height: 2.7em;
}

.welcome .container {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  margin: auto;
  top: 80px;
  gap: 50px;
  width: 90vw;
}

.welcome .text {
  position: relative;
  top: 50px;
  animation: from-left 2s ease-out  ;
}

.welcome-img {
  position: relative;
  width: 35vw;
  /* animation: from-right 1s ease-out  ; */
}

/* pros */
div.pros {
  position: relative;
  top: 50px;
  margin: 0px 10vw;
  width: 80vw;
}

/* about */
.about {
  position: relative;
  display: flex;
  box-sizing: border-box;
  /* background-color: rebeccapurple; */
  width: 90vw;
  top: -140px;
  margin-inline: 5vw;
  gap: 10px;
}

div.about-bg {
  position: relative;
  overflow-x: hidden;
  top: 850px;
  width: 100vw;
  height: fit-content;
}

.about-bg img{
  width: 150vw;
  transform: translateX(-30%);
}

.about-left-image {
  position: relative;
  top: 50px;
  width: 250px;
  height: 250px; 
  align-self: center;
}

.cards {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  font-size: 10px;
  flex-wrap: wrap;
  gap: 10px;
  width: calc(90vw - 260px);
}

.card {
  gap: 50px;
  color: white;
  flex: 1 0 300px;
  max-width: calc((90vw - 270px)/2);
}

.card .icon {
  float: left;
  width: 4vw;
  height: 4vw;
  background-color: rebeccapurple;
  outline: 2px solid black;
  border-radius: 50%;
  margin: 10px;
}

.card p {
  grid-area: 1 / 2 / 3 / 3;
  color: white;
  display: inline;
}

.card span {
  font-size: 20px;
  color: white;
  font-weight: bold;
  line-height: 2em;
}

/* Services */
div.services {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  top: 100px;
  width: 100vw;
}

.services img {
  display: block;
  width: 40vw;
  margin-left: 0px;
}

div.services p {
  text-align: center;
  width: 40vw;
}

div.services p.growth {
  margin-left: 10vw;
}

div.services p.large {
  top: 70vh;
  right: 30vw;
}

/* Cards */
.services-cards {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: fit-content;
  margin-inline: auto;
  top: 100px;
}

img.services-card {
  position: relative;
  box-shadow: 0px 0px 4px 0px rgb(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 15px;
  width: 15vw;
  height: 15vw;
  z-index: 3;
  transition: 1s;
}

div.services-card .description {
  box-sizing: border-box;
  position: absolute;
  width: 15vw;
  height: 15vw;
  z-index: 1;
  padding: 10px;
  background-image: linear-gradient(to right, var(--color3), var(--color2));
  border-radius: 15px;
  color: white;
  transition: 1s;
}

div.services-card:hover img.services-card {
  transform: translateY(10vw);
}

div.services-card:hover .description {
  transform: translateY(-5vw);
}

/* Recommendation */
.recommendation {
  text-align: center;
  position: relative;
  margin: auto;
  width: 100vw;
  top: 200vh;
}

.recommendation .container{
  height: 500px;
  width: 100%;
  overflow-y:visible;
  overflow-x: hidden;
}

.recommendation span {
  display: block;
  font-size: 20px;
  width: 60vw;
  margin: auto;
}

.sliders {
  box-sizing: border-box;
  position: relative;
  display: flex;
  overflow: hidden;
  width: 500vw;
  left: -20vw;
  top: 15vh;
  /* animation: slider 20s ease-out infinite; */
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  margin-inline: 40vw;
  gap: 10px;
  width: 20vw;
  /* height:8vw; */
}

.slider p {
  display: block;
}

.icon {
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: rebeccapurple;
  outline: 2px solid black;
}

.slider p {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

/* contact us */
.contacts {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: relative;
  margin: auto;
  text-align: center;
  line-height: 35px;
  top: 64vh;
  width: 60vw;
}

.classic {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 70px;
}

.contact {
  display: flex;
  align-items: center;
  gap: 5px;
}

.mini-icon {
  width: 2vw;
  height: 2vw;
  border-radius: 50%;
  background-color: rebeccapurple;
  outline: 2px solid black;
}

.contacts a {
  text-decoration: none;
  font: bold 30px;
  color: #222;
}

.social {
  position: relative;
  display: flex;
  gap: 30px;
}

.social a div {
  position: relative;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  background-color: beige;
  box-shadow: -1px 5px 8px 1px rgb(30, 30, 30, 0.2);
  outline: none;
  transition: 1s;
}

.social .facebook:hover a div {
  background-color: darkblue;
}

.social .whatsapp:hover a div {
  background-color: #329615;
}

.social .instagram:hover a div {
  background-color: rgb(186, 57, 226);
}

.social .linkedin:hover a div {
  background-color: #0368ed;
}

/* CR */
.copy {
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  background-color: #EEE;
  line-height: 20px;
  font-size: 12px;
  top: 1400px;
  width: 100%;
  height: 100px;
}

.copy a {
  font-weight: bold;
  text-decoration: none;
}

@keyframes from-right {
  from {
    visibility: hidden;
    transform: translateX(100vw);
  }

  to {
    visibility: visible;
    transform: translateX(0vw);
  }
}

@keyframes from-left {
  0% {
    visibility: hidden;
    transform: translateX(-100vw);
  }

  100% {
    visibility: visible;
    transform: translateX(0vw);
  }
}

@keyframes slider {
  2.5% {
    transform: translateX(0vw);
  }

  17.5% {
    transform: translateX(0vw);
  }

  20% {
    transform: translateX(-100vw);
  }

  37.5% {
    transform: translateX(-100vw);
  }

  40% {
    transform: translateX(-200vw);
  }

  57.5% {
    transform: translateX(-200vw);
  }

  60% {
    transform: translateX(-300vw);
  }

  76.5% {
    transform: translateX(-300vw);
  }

  80% {
    transform: translateX(-400vw);
  }

  97.5% {
    transform: translateX(-400vw);
  }

  100% {
    transform: translateX(-500vw);
  }

}

@media screen and (min-width: 1000px) {

  /* Header */
  img.logo {
    width: 160px;
  }

  select.services {
    width: 100px;
    margin-block: auto;
  }

  /* banners */
  div.banners {
    top: 90px;
  }
  /* Welcome */
  div.welcome {
    position: relative;
    top: 90px;
    width: 100vw;
  }

  .welcome-img {
    width: 500px;
  }

  .welcome .text {
    top: 50px;
  }

  /* pros */
  div.pros {
    margin-left: 10vw;
    top: 340px;
    width: 80vw;
    height: 670px;
  }

  /* about */
  .about {
    top: -140px;
  }

  div.about-bg {
    top: 800px;
  }

  .about-bg img{
    width: 2750px;
    transform: translateX(-30%);
  }

  .about-left-image {
    top: 50px;
    width: 250px;
    height: 250px;
  }

  .cards {
    font-size: 10px;
    width: calc(90vw - 260px);
  }

  .card {
    flex: 1 0 300px;
    max-width: calc((90vw - 270px)/2);

  }

  .card .icon {
    width: 4vw;
    height: 4vw;
  }

  .card p {
    font-size: 12px;
  }

  .card span {
    font-size: 20px;
  }

  /* Services */
  div.services {
    top: 300px;
    width: 80vw;
    margin-left: 10vw;
  }

  .services img {
    width: 400px;
    left: 0px;
  }

  div.services p {
    width: 40vw;
  }

  div.services p.growth {
    width: calc(80vw - 450px);
    margin-left: 50px;
    right: 0px;
  }

  div.services p.center {
    position: absolute;
    display: block;
    font-size: xx-large;
    width: 400px;
    margin-inline: calc(40vw - 200px);
    top: 650px;
  }

  /* Cards */
  .services-cards {
    gap: 50px;
    width: fit-content;
    top: 600px;
  }

  img.services-card {
    width: 200px;
    height: 200px;
  }

  div.services-card .description {
    font-size: 14px;
    width: 200px;
    height: 200px;
  }

  /* Recomm */
  .recommendation {
    top: 1200px;
  }

  .recommendation span {
    font-size: 20px;
    width: 60vw;
  }

  .sliders {
    top: 100px;
  }

  /* contatct */
  .contacts {
    line-height: 35px;
    top: 1450px;
    width: 600px;
  }

  .classic {
    margin-bottom: 70px;
  }

  .mini-icon {
    width: 2vw;
    height: 2vw;
  }

  .contacts a {
    font: bold 30px;
  }

  .social {
    gap: 30px;
  }

  .social a div {
    width: 5vw;
    height: 5vw;
  }

  /* Copy */
  .copy {
    background-color: #EEE;
    line-height: 20px;
    font-size: 12px;
    top: 1500px;
    width: 100%;
    height: 100px;
  }
}

@media screen and (min-width: 801px) and (max-width: 999px) {
  .large {
    font-size: 40px;
    font-weight: bolder;
    line-height: var(--line-height-large);
  }

  .small {
    font-size: small;
    line-height: var(--line-height-small);
  }

  /* Header */
  img.logo {
    width: 160px;
  }

  header * {
    padding-inline: 8px;
  }
  .nav {
    gap: 3px;
  }
  .nav * {
    font-weight: 200;
    font-size: small;
  }

  select.services {
    width: 80px;
  }

  .registration {
    height: auto-fit;
    font-weight: bold;
    padding-block: 5px;
  }
  /* banners */
  div.banners {
    top: 90px;
  }

  .corner-right {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80px;
    height: 250px;
  }

  .corner-left {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 150px;
  }

  /* Welcome */
  div.welcome {
    position: relative;
    top: 90px;
    width: 100vw;
  }

  .welcome-img {
    width: 350px;
  }

  .welcome .text {
    top: 50px;
  }

  /* pros */
  div.pros {
    margin-left: 10vw;
    top: 340px;
    width: 80vw;
    height: 670px;
  }

  /* about */
  .about {
    top: -330px;
  }

  div.about-bg {
    top: 800px;
  }

  .about-bg img{
    width: 3200px;
    transform: translateX(-32%);
  }

  .about p {
    font-weight: bold;
    font-size: 10px;
  }

  .about span {
    font-weight: bold;
    font-size: 20px;
  }

  .about-left-image {
    top: -50px;
    width: 200px;
    height: 200px;
  }

  .cards {
    width: calc(90vw - 210px);
  }

  .card {
    gap: 10px;
    flex: 1 0 300px;
    max-width: calc((90vw - 220px)/2);

  }

  .card .icon {
    width: 4vw;
    height: 4vw;
  }

  .card p {
    font-size: 10px;
  }

  .card span {
    font-size: 18px;
  }

  /* Services */
  div.services {
    top: 300px;
    width: 80vw;
    margin-left: 10vw;
  }

  .services img {
    width: 250px;
    left: 0px;
  }

  div.services p {
    width: 40vw;
  }

  div.services p.growth {
    width: calc(80vw - 280px);
    margin-left: 30px;
    right: 0px;
  }

  div.services span.large {
    font-size: 30px;
  }

  div.services span.small {
    font-size: small;
  }

  div.services p.center {
    position: absolute;
    display: block;
    font-size: xx-large;
    font-weight: bold;
    width: 300px;
    margin-inline: calc(40vw - 150px);
    top: 550px;
  }

  /* Cards */
  .services-cards {
    width: 100%;
    top: 600px;
  }

  img.services-card {
    width: 150px;
    height: 150px;
  }

  div.services-card .description {
    line-height: 1.5em;
    font-size: 11px;
    width: 150px;
    height: 150px;
  }

  /* Recomm */
  .recommendation {
    top: 1050px;
  }

  .recommendation span {
    font-size: 20px;
    width: 60vw;
  }

  .sliders {
    top: 40px;
  }

  /* contatct */
  .contacts {
    line-height: 35px;
    top: 1300px;
    width: 600px;
  }

  .classic {
    margin-bottom: 70px;
  }

  .mini-icon {
    width: 2vw;
    height: 2vw;
  }

  .contacts a {
    font: bold 30px;
  }

  .social {
    gap: 30px;
  }

  .social a div {
    width: 5vw;
    height: 5vw;
  }

  /* Copy */
  .copy {
    line-height: 20px;
    font-size: medium;
    top: 1370px;
    width: 100%;
    height: 100px;
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .large {
    font-size: 25px;
    font-weight: bolder;
    line-height: var(--line-height-large);
  }

  .small {
    font-size: smaller;
    line-height: var(--line-height-small);
  }

  /* Header */
  img.logo {
    width: 100px;
  }
  .nav{
    gap: 0px;
  }
  .nav * {
    font-weight: 200;
    justify-content: flex-end;
    font-size: small;
    color: #222;
  }

  header * {
    padding-inline: 8px;
  }

  .registration {
    background-color: unset;
    padding: unset;
  }
  .nav *:hover {
    color: #17C32A;
    background-color: unset;
  }

  select.services {
    width: 80px;
  }

  /* banners */
  div.banners {
    top: 90px;
  }

  .corner-right {
    width: 80px;
    height: 250px;
  }

  .corner-left {
    width: 150px;
  }

  /* Welcome */
  div.welcome {
    top: 90px;
    width: 100vw;
  }

  .welcome .container {
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    top: 50px;
    gap: 70px;
    width: 80vw;
  }

  .welcome-img {
    width: 100%;
  }

  .welcome .text {
    text-align: center;
    top: 0px;
  }
  .welcome .large {
    font-size: 50px;
  }
  .welcome .small {
    font-size: 20px;
  }
  

  /* pros */
  div.pros {
    margin:auto;
    top: 340px;
    width: 90vw;
    height: fit-content;
  }

  /* about */
  .about {
    flex-flow: column-reverse;
    top: 450px;
  }

  div.about-bg {
    display: none;
  }
  .about p {
    font-weight: bold;
    font-size: 10px;
  }

  .about span {
    font-weight: bold;
    font-size: 20px;
  }

  .about-left-image {
    top: -60px;
    right: -80px;
    width: 300px;
    height: 300px;
  }

  .cards {
    flex-flow: column;
    width: 100%;
    padding: 20px;
    gap: 30px;
  }

  .card {
    background-image: linear-gradient(to right, var(--color3), var(--color2));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    gap: 0px;
    max-width: 100%;
  }

  .card .icon {
    background-color: white;
    width: 10vw;
    height: 10vw;
  }

  .card p {
    font-size: medium;
    font-weight: 400;
  }

  .card span {
    font-size: x-large;
  }

  /* Services */
  div.services {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    top: 550px;
    width: 80vw;
    margin:auto;
  }

  .services img {
    width: 400px;
    left: 0px;
  }

  div.services p {
    width: 100%;
  }

  div.services p.growth {
    position: relative;
    font-weight: bolder;
    width: 100%;
    margin: 0px;
    top: -50px;
  }

  div.services span.large {
    font-size: xx-large;
  }

  div.services span.small {
    font-size: small;
  }

  div.services p.center {
    position: absolute;
    display: block;
    font-size: xx-large;
    font-weight: bold;
    width: 300px;
    margin-inline: calc(40vw - 150px);
    top: 700px;
  }

  /* Cards */
  .services-cards {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    top: 100px;
  }

  img.services-card {
    width: 220px;
    height: 190px;
  }

  div.services-card .description {
    line-height: 1.5em;
    z-index: -1;
    font-size: 11px;
    width: 220px;
    height: 190px;
  }
  div.services-card:hover img.services-card {
    z-index: 10;
    transform: translateY(90px);
  }
  
  div.services-card:hover .description {
    z-index: 10;
    transform: translateY(-100px);
  }

  /* Recomm */
  .recommendation {
    width: 100vw;
    top: 800px;
  }

  .recommendation p {
    font-size: xx-large;
    font-weight: bolder;
  }
  br{
    line-height: 1px;
  }
  /* contatct */
  .contacts {
    line-height: 35px;
    top: 1000px;
    width: 80%;
  }
  .contact{
    gap: 10px;
  }
  .classic {
    font-size: large;
    margin-bottom: 70px;
  }

  .mini-icon {
    width: 20px;
    height: 20px;
  }

  .contacts a {
    font: bold 30px;
  }

  .social {
    gap: 30px;
  }

  .social a div {
    width: 60px;
    height: 60px;
  }

  /* Copy */
  .copy {
    line-height: 20px;
    font-size: large;
    background-color: unset;
    line-height: 2em;
    top: 1100px;
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
  }
}
@media screen and (max-width: 500px){
  .large {
    font-size: 25px;
    font-weight: bolder;
    line-height: var(--line-height-large);
  }

  .small {
    font-size: smaller;
    line-height: var(--line-height-small);
  }

  /* Header */
  .nav-button{
    position: absolute;
    z-index: 6;
    right: 15vw;
    display: block;
    width: 50px;
    height: 50px;
    transition: 1s;
  }
  .nav-button::before{
    content: "=";
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: relative;
    color: blue;
    font-size: 70px;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: 1s;
  }
  .nav-button:hover::before{
    color: rgb(210, 94, 59);
  }
  header{
    display: flex;
  }
  img.logo {
    box-sizing: content-box;
    position: relative;
    top: 0px;
    width: 130px;
    padding-right: 90vw;
    background-color: #fff;
  }
  
  .nav {
    background-color: #DDD;
    position: fixed;
    flex-flow: column;
    box-sizing: border-box;
    justify-content: space-around;
    padding-left: 0px;
    width: 50vw;
    padding-inline: 0px;
    padding-block: 10px;
    z-index: -1;
    height: 200px;
    top:-200px;
    right: 20px;
  }
  .nav-button:hover ~ .nav{
    top: 63px;
  }

  nav *:not(option) {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: unset;
    position: relative;
    width: 100%;
    top: 0px;
    left: 0px;
    padding-block: 5px;
    transition: 1s 0s;
  }
  
  .nav *:hover {
    color: var(--color3);
    transition: 1s;
  }
  
  .registration {
    padding: 0px;
    background-color: unset;
  }
  select.services {
    width: 60px;
  }

  /* banners */
  div.banners {
    top: 90px;
  }

  .corner-right {
    width: 80px;
    height: 250px;
  }

  .corner-left {
    width: 150px;
  }

  /* Welcome */
  div.welcome {
    top: 63px;
    width: 100vw;
  }

  .welcome .container {
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
    top: 50px;
    gap: 70px;
    width: 80vw;
  }

  .welcome-img {
    width: 100%;
  }

  .welcome .text {
    text-align: center;
    top: 0px;
  }
  .welcome .large {
    font-size: 50px;
  }
  .welcome .small {
    font-size: 20px;
  }
  

  /* pros */
  div.pros {
    margin:auto;
    top: 340px;
    width: 90vw;
    height: fit-content;
  }

  /* about */
  .about {
    flex-flow: column-reverse;
    top: 450px;
  }

  div.about-bg {
    display: none;
  }
  .about p {
    font-weight: bold;
    font-size: 10px;
  }

  .about span {
    font-weight: bold;
    font-size: 20px;
  }

  .about-left-image {
    top: -60px;
    right: 0px;
    width: 300px;
    height: 300px;
  }

  .cards {
    flex-flow: column;
    width: 100%;
    padding: 20px;
    gap: 30px;
  }

  .card {
    background-image: linear-gradient(to right, var(--color3), var(--color2));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    gap: 0px;
    max-width: 100%;
  }

  .card .icon {
    background-color: white;
    width: 10vw;
    height: 10vw;
  }

  .card p {
    font-size: medium;
    font-weight: 400;
  }

  .card span {
    font-size: x-large;
  }

  /* Services */
  div.services {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    top: 550px;
    width: 80vw;
    margin:auto;
  }

  .services img {
    width: 75vw;
    left: 0px;
  }

  div.services p {
    width: 100%;
  }

  div.services p.growth {
    position: relative;
    font-weight: bolder;
    width: 100%;
    margin: 0px;
    top: -50px;
  }

  div.services span.large {
    font-size: xx-large;
  }

  div.services span.small {
    font-size: small;
  }

  div.services p.center {
    position: absolute;
    display: block;
    font-size: xx-large;
    font-weight: bold;
    width: 300px;
    margin-inline: calc(40vw - 150px);
    top: -200px;
  }

  /* Cards */
  .services-cards {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 100%;
    top: 600px;
  }

  img.services-card {
    width: 220px;
    height: 190px;
  }

  div.services-card .description {
    line-height: 1.5em;
    z-index: -1;
    font-size: 11px;
    width: 220px;
    height: 190px;
  }
  div.services-card:hover img.services-card {
    z-index: 10;
    transform: translateY(90px);
  }
  
  div.services-card:hover .description {
    z-index: 10;
    transform: translateY(-100px);
  }

  /* Recomm */
  .recommendation {
    width: 100vw;
    top: 800px;
  }

  .recommendation p {
    font-size: xx-large;
    font-weight: bolder;
  }
  br{
    line-height: 1px;
  }
  /* contatct */
  .contacts {
    line-height: 35px;
    top: 1000px;
    width: 80%;
  }
  .contact{
    gap: 10px;
  }
  .classic {
    font-size: large;
    margin-bottom: 70px;
  }

  .mini-icon {
    width: 20px;
    height: 20px;
  }

  .contacts a {
    font: bold 30px;
  }

  .social {
    gap: 30px;
  }

  .social a div {
    width: 60px;
    height: 60px;
  }

  /* Copy */
  .copy {
    line-height: 20px;
    font-size: medium;
    background-color: unset;
    line-height: 2em;
    top: 1100px;
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
  }
}
